/* dark bg color hero and footer: #1f2937
Hero Main text ("this website...") 48px extra-bold #F9FAF8
Hero Secondar text, Header Link Text 18px #E5E7EB
Header Logo Text 24px #f9faf8


Button color, call to action bg color: #3882f6
information header text 36px extra-bold #1f2937

Quote section bg: #e5e7eb
Quote text: 36px light italic #1f2937*/

body{
    margin: 0;
    size: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.header{
    display: flex;
    margin: 0;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    color: #f9faf8;
}

.header > h2{
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.intro{
    display: flex;
    background-color: #1f2937;
    padding: 100px 0 100px 0;
    justify-content: center;
}

.intro-left{
    width: 400px;
    font-size: 18px;
    color:#F9FAF8
}

.intro-left > h4{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0;
}

button{
    color:#F9FAF8;
    background-color: #3882f6;
    border: none;
    border-radius: 12px;
    padding: 15px 40px;
}

.information{
    display: flex;
    justify-content: center;
}

.card{
    font-size: 22px;
    width: 200px;
    margin: 15px 30px;
    color: #223958;
    font-weight: 600;
    text-align: center;
}

#info-header{
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    color: #1f2937;
}